body {
  margin: 0;
  font-family: 'Sour Gummy','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Sour Gummy', "Menlo", "Monaco", "Consolas", 'Courier New',
    monospace;
}
